#board { margin-top: 2px; margin-left: auto; margin-right:auto; width:730px; height:430px;background: #FFFFFF;}

#board #app { background: #FFFFFF; display:table-cell; width:650px; height:380px; float:left;}

#board #sidebar { display:table-cell; background:#FFFFFF; width:80px; height:400px; float:right;}

#board #sidebar .available {height:300px; width:80px; margin-left: auto; margin-right:auto;}
#board #sidebar .available img {width:80px; height:80px; float:left;}

#board #sidebar .queued {height:30px; width:80px; margin-top:5px; margin-left:auto; margin-right:auto;}
#board #sidebar .queued img {width:20px; height:20px; float:left;}

#board #sidebar .instructions {height:70px; width:700px; margin-top: 2px; font-size: smaller; text-align:center; auto; margin-right:auto;}

#messageboard {height:40px; width: 730px; margin-top: 2px; margin-left: auto; margin-right:auto;}
#messageboard .message { max-width: 120px; height: 40px; padding: 2px; margin-top: 2px; margin-left:10px; margin-right:10px; font-size: small; border: 1px solid #444; background: #fff; color: #333; float:left;}

#footer {width:730px; height:10px; margin-left:auto; margin-right:auto; font-size:9px; text-align:center; background:#FFFFFF;}

a { color: #000000; font-weight:bold; text-decoration:none;}

a:hover { text-decoration:underline;}

body { background: #FFFFFF; color:#000000;}